.form-container{
  font-family:Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: rgb(138, 138, 138);
  padding-bottom: 5rem;
  width: 30%;
  margin: 0 auto;
  margin-top: 3rem;
  padding-top: 2rem;
  border-radius: 8px;
  box-shadow: 8px 8px 8px 7px rgba(0, 0, 0, 0.2);
}

.form-container h2{
  color: aliceblue;
  font-size: 2.2rem;
}

.form-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container form label{
  color: aliceblue;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form-container form input{
  margin-bottom: 1.5rem;
  height: 2.5rem;
  width: 16rem;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  padding-left: 1rem;
  transform: scale(0.87);
  transition: all .4s ease-in-out;
}

.form-container form input:hover{
  transform: scale(0.90);
  box-shadow: 10px 10px rgb(94, 93, 93);
}

.form-container form .textArea{
  height: 6rem;
  transition: all .4s ease-in-out;
}

.form-container form button{
  outline: none;
  border: none;
  background-color: rgb(46, 124, 9);
  color: white;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.form-container form button:hover{
  background-color: rgb(85, 197, 20);
  transform: translateY(3px);
  box-shadow: 10px 10px rgb(94, 93, 93);

}