.productList-container{
  font-family:Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: rgb(138, 138, 138);
  padding-bottom: 3rem;
  width: 30%;
  margin: 0 auto;
  margin-top: 3rem;
  padding-top: 2rem;
  border-radius: 8px;
  box-shadow: 8px 8px 8px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
  color: white;
}


.productList-container p{
  color: white;
  font-size: 1.2rem;
}

.productList-container p:hover{
  color: rgb(156, 255, 98);
}

.productList-container button{
  outline: none;
  border: none;
  background-color: rgb(46, 124, 9);
  color: white;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.productList-container button:hover{
  background-color: rgb(85, 197, 20);
  transform: translateY(3px);
  box-shadow: 10px 10px rgb(94, 93, 93);
}

.productList-container--list{
  display: flex;
  flex-direction: row;
  margin-left: 7rem;
}

.productList-container--list div{
  margin-top: 1.2rem;
  margin-left: 2rem;
  font-size: 1.2rem;
}

.productList-container--list div .icon{
  cursor: pointer;
  transform: scale(0.87);
}

.productList-container--list div .icon:hover{
  transform: scale(0.90);
  font-size: 1.4rem;
  transition: all .3s ease-in-out;

}

.productList-container--list div .trash{
  margin-left: .8rem;
  color: rgb(148, 3, 3);
}